<div class="page-header">
  <%= link_to new_article_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новая статья
  <% end %>
  <h1></h1>
</div>

<% @articles.each do |article| %>
<div class="row">
  <div class="row">
    <div class="col-sm-6"><H2><%= link_to article.name,article  %></H2></div>
    <div class="col-sm-6"><% small_user_badge(article.user) %></div>
  </div>
  <div class="row fblock">
    <%= raw(article.text.slice(0..(article.text.index('<!-- pagebreak -->')-1))) %>
  </div>
  <div class="row">
    <%= link_to 'Читать', article, :class =>"btn btn-primary" %>
  </div>
 <br>
 <br> 
 <br>  
</div>
<% end %>


