<div class="page-header">
  <h1>Чета тут надо написать.....</h1>
</div>
<p></p>
<script src="/cjs/modernizr.js"></script>
<script src="/cjs/main.js"></script>
<link rel="stylesheet" href="/ccss/style.css">
<section id="cd-timeline">
<% Trip.order(:sdate => "ASC").all.each do |trip| %>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="img/cd-icon-location.svg" alt="Picture">
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content">
			<h2><%= link_to trip.name.truncate(27), trip %></h2>
					<% if !trip.place.nil? %>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= link_to trip.place.name, trip.place %></p>
                    <%else%>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></i> Место не выбрано </p>
                    <% end %>
			<a href="#0" class="cd-read-more">Read more</a>
			<% startdate = Date.strptime(@trip.sdate,"%m/%d/%Y").to_date %>
			<span class="cd-date"><%= Russian::strftime(startdate,'%d %b %Y') %> </span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
	<div class="cd-timeline-block">
		<!-- ... -->
	</div>

<%end%>
</section>

<% User.all.each do |user| %>
	<%= small_user_badge(user) %>
<%end%>

