<div class="page-header">
  <h1>Чета тут надо написать.....</h1>
</div>
<p></p>
<script src="/cjs/modernizr.js"></script>
<script src="/cjs/main.js"></script>
<link rel="stylesheet" href="/ccss/style.css">
<div class="container" id="timeline"></div>
<section id="cd-timeline" class="cd-container">
<% Trip.order(:sdate => "DESC").all.each do |trip| %>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="img/cd-icon-location.svg" alt="Picture">
		</div> <!-- cd-timeline-img -->
 
		<div class="cd-timeline-content ">
			<%= trip.name.truncate(27) %>
					
						<% if !trip.place.nil? %>
	                 <%= link_to trip.place.name, trip.place %>
	                    <%else%>
	                        Место не выбрано 
	                    <% end %>
	                    
					
			<% startdate = Date.strptime(trip.sdate,"%m/%d/%Y").to_date %>
			<span class="cd-date"><%= Russian::strftime(startdate,'%d %b %Y') %> </span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
	<div class="cd-timeline-block">
		<!-- ... -->
	</div>

<%end%>
</section>
</div>


