<div class="page-header">
  <%= link_to trophies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Список
  <% end %>
  <%= link_to @trophy, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Просмотр
  <% end %>
  <%= link_to 'Удалить', @bait, :method => 'delete', :confirm => 'Are you sure?', class: 'btn btn-danger'%>
  <h1>Редактирование трофея</h1>
</div>

<%= render 'form' %>
