/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require photoswipe
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *= require_self
 */


body {
    font-family:'Open Sans', sans-serif !important;
}

 .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 10px 0;
        padding:20px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.userbadge {
    width: 300px;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    -moz-box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    margin: 10px;

}

.fblock {
    -webkit-box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    -moz-box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    box-shadow: 3px 3px 9px 0px rgba(156,123,156,0.48);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#owl-demo .item{
  margin: 5px;
  height: 150px;
  width: auto;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(156,123,156,0.48);
  -moz-box-shadow: 1px 1px 3px 0px rgba(156,123,156,0.48);
  box-shadow: 1px 1px 3px 0px rgba(156,123,156,0.48);
}
#owl-demo .item img {
    height: 150px;
    display: block;
    width: 100%;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}