<div class="page-header">
  <%= link_to new_command_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Command
  <% end %>
  <h1>Комманды</h1>
</div>

<% @commands.each_slice(4) do |commands| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% commands.each do |command| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(command.cover.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),command %>
                  </div>
                  <div class="caption">
                      <h4><%= link_to command.name.truncate(27), command %></h4>
                      
                  </div>
                  <div class="modal-footer" style="text-align: left">
                  <div class="row">
                    <div class="col-md-3 text-center"><b><%= command.users.count %></b><br/><small><i class="flaticon-user168"></i></small>
                    </div>
                    </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
                    
    
<% end %>
