<div class="page-header">
  <% if can? :create, Manufacturer %>
  <%= link_to new_manufacturer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить производителя
  <% end %>
  <% end %>
  <h1>Производители</h1>
</div>

<% @manufacturers.each_slice(4) do |manufacturers| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% manufacturers.each do |manufacturer| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(manufacturer.photo.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),manufacturer %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to manufacturer.name, manufacturer %></h3>
                      <p><%= link_to manufacturer.url, manufacturer.url  %></p>
                      
                  </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
<% end %>
