<div class="page-header">
  <%= link_to new_place_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить
  <% end %>
  <h1>Места</h1>
</div>
<% @places.each_slice(4) do |places| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% places.each do |place| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(place.pcover.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),trip %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to place.name, trip %></h3>
                    
              </li>
            <% end %>
        </ul>  
        </div>
                    
    
<% end %>