<div class="page-header">
  <%= link_to new_fish_path, class: 'btn btn-primary' do %>
    <% if can? :create, Fish %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить рыбу
  <% end %>
  <% end %>
  <h1>Рыбы</h1>
</div>

<% @fish.each_slice(4) do |fishes| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% fishes.each do |fish| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(fish.photo.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),fish %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to fish.name, fish %></h3>
                    
              </li>
            <% end %>
        </ul>  
        </div>
                    
    
<% end %>